.body {
  background-image: url('../images/background.png');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.div-block-2 {
  background-image: url('../images/background.png');
  background-position: 0px 0px;
  background-size: auto;
}

.image {
  margin-top: 15%;
  text-align: center;
}

.headerlogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.formgroup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  position: relative;
  left: 0%;
    margin-left: 30.5%;
  margin-bottom: 28px;
  padding-right: 40px;
  padding-left: 40px;
  clear: none;
  border-radius: 20px;
}

.text-field {
  min-width: 300px;
  margin-bottom: 28px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.text-field-2 {
  margin-bottom: 30px;
}

.link {
  position: absolute;
  margin-top: 3px;
    -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  color: #000;
}

.signupbg {
  background-image: url('../images/background.png');
  background-position: 0px 0px;
  background-size: auto;
}

.body-2 {
  background-image: url('../images/background.png');
  background-position: 0px 0px;
  background-size: cover;
}

.text-field-3 {
  margin-bottom: 28px;
}

.homebg {
    background-image: url('../images/background.png');
  background-position: 0px 0px;
  background-size: cover;
}

.icon {
  background-color: #fff;
}

.navcontainer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

.navbar {
  background-color: #ffffff;
}

.navlogo {
  min-width: 150px;
  background-image: url('../images/Logo.png');
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    border-radius: 20px;
    background-color: #c3e3ff;
    background-clip: border-box;
  }
}